.form__changepw{
    width:400px;
    
    margin-top: 200px;
    position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
    border: solid 1px blue;
    display: block;
}
.login {
    width: 300px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    margin-top: 30px;
  }
  
  .login h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
  }
  
  .login form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .login label {
    display: block;
  }
  
  .login input {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .login > button {
    /* padding: 10px 110px; */
    width: 100%;
    height: 40px;
    background-color: #0099ff;
    color: white;
    border-radius: 5px;
    margin-bottom: 50px;
  }
  .login button:hover {
    background-color: rgb(23, 124, 239);
  }