.main-content {
    height: 6rem;
    background-color: rgba(1, 1, 1, 0.9);
    /* background-image: url(https://sackim.com/wp-content/uploads/2020/01/1.jpg); */
    display: block;
    margin-bottom: 4rem;
    margin-left: 170px;
}
.main-content >div > h1{
    color: var(--primary-dark);
    font-size:40px;
    font-weight: 500;
}
.container{
    margin-top: 50px;
    margin-left: 450px;
    margin-right: 300px;
    margin-bottom: 500px;
}
.title{
    display: flex;
    justify-self: center;
    justify-content:center;
    align-items: center;
    margin-bottom: 20px;
    height: 100px;
}
.title > h1{
    text-align: center;
    font-size:40px;
    font-weight: 600;
}

.form{
    margin-top: 25px;
    font-size:20px;
    font-weight:550;
}
.form-image{
    display:flex;
}
.form-image-detail{
    margin-right: 10px;
}
.button-add-spec{
    padding: 7px 10px;
    font-size:15px;
    font-weight:550;
    border-radius: 10px;
    background-color: burlywood;
}
.detailImport {
    display: block;
    width: 40%;
    height: 350px;
    margin: 30px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
}
.detailImport-form{
    padding-top: 20px;
    margin: 0px 20px;
    font-size:18px;
    font-weight:550;
}
/* .detailImport-form-cbx{
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    font-size:18px;
    font-weight:550;
} */
.detailImport-form-button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.detailImport-form-button > button{
    padding: 7px 30px;
    margin: 0 20px;
    font-size:18px;
    font-weight:550;
    border-radius: 10px;
}
.list{
    margin: 10px;
}
.list-spec{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    background-color: bisque;
    border-color: black;
    border-width: 2px;
}
.list-spec > p{
    
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:18px;
    font-weight:550;
}
.list-spec > button{
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 20px;
    font-size:16px;
    font-weight:450;
    border-radius: 5px;
}
.add-product{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.add-product > button{
    font-size: 18px;
    padding: 10px 200px;
}