.block {

    min-width: 400px;
    width: fit-content;
    display: flex;
    /* align-items: center; */
    
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    background-color:var(--primary-dark);
}

.category {
    /* text-align: center; */
    min-width: 200px;
    font-weight: bold;
    margin-top: 5;
    margin-left: 5px;
    color: black;
}
/* .category p{
    text-align: center;
} */

.category-detail{
    margin: 10px 0px;
    font-weight: normal;
}

.category-detail a {
    font-weight: normal;
    padding: 0px 0px;
    color: black !important;
}

.mt-100 {
    display: block;
    margin-top: 100px;
}
